## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## Tópicos

Neste desafio você aprenderá:

- Média;
- Mediana;
- Moda;
- Desvio padrão.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

# Encontrando Média, Mediana, Moda e Desvio Padrão

In [4]:
#Criando df somente com as variáveis pertinentes
base = df[['id','pontuacao_credito','estado_residencia']]

base.head()

,id,pontuacao_credito,estado_residencia
0,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,619,SC
1,28dcb083ad90512da16b9430085c2cddb8ca5e12,608,RS
2,774bc378f787438c9c7594e536787d07a097a54b,502,SC
3,043a71326f7096de155e7f0c559dc62b5e4b7239,699,SC
4,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,850,RS

In [5]:
#Média

media = base.groupby('estado_residencia')['pontuacao_credito'].mean()
media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [6]:
#Mediana

mediana = base.groupby('estado_residencia')['pontuacao_credito'].median()
mediana

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [7]:
#Moda

moda = base.groupby('estado_residencia')['pontuacao_credito'].agg(lambda x: x.mode()[0])
moda

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [8]:
#Desvio Padrão

desvp = base.groupby('estado_residencia')['pontuacao_credito'].std()
desvp

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

# Exportando Resultado

In [9]:
dados = {'média' : list(media),
         'mediana' : list(mediana),
         'moda' : list(moda),
         'desvio padrão' : list(desvp)}

estados = sorted(list(base['estado_residencia'].unique()))

df_resultado = pd.DataFrame(dados, index = estados)

df_resultado

         média  mediana  moda  desvio padrão
PR  648.961294      650   850      98.607186
RS  651.105143      650   850      95.136598
SC  649.537653      653   850      97.233493

In [10]:
# Exportando a resposta final
df_resultado.to_json('submission.json')