# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [3]:
def q1():
    # Retorne aqui o resultado da questão 1.
    
    return black_friday.shape
    pass

q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [4]:
def q2():
    # Retorne aqui o resultado da questão 2.
    
    return len(black_friday[(black_friday.Gender == "F") & (black_friday.Age == "26-35")])
    pass

q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [5]:
def q3():
    # Retorne aqui o resultado da questão 3.
    
    return len(black_friday['User_ID'].unique())
    pass

q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [6]:
def q4():
    # Retorne aqui o resultado da questão 4.
    
    return len(black_friday.dtypes.unique())
    pass

q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [7]:
def q5():
    # Retorne aqui o resultado da questão 5.
    x = sum(black_friday.isna().sum(axis=1)>0) 
    y = black_friday.shape[0]
    z = float(x/y)
    
    return z
    pass

q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [8]:
def q6():
    # Retorne aqui o resultado da questão 6.
    
    return int(black_friday.isnull().sum().max())
    pass

q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [9]:
def q7():
    # Retorne aqui o resultado da questão 7.
    
    return int(black_friday['Product_Category_3'].mode())
    pass

q7()

16

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [10]:
def q8():
    # Retorne aqui o resultado da questão 8.
    minimo = black_friday['Purchase'].min()
    maximo = black_friday['Purchase'].max()
    
    return float(black_friday['Purchase'].apply(lambda col: (col-minimo)/(maximo-minimo)).mean())
    pass

q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [11]:
def q9():
    # Retorne aqui o resultado da questão 9.
    media = black_friday['Purchase'].mean()
    desvp = black_friday['Purchase'].std()
    
    return int(black_friday['Purchase'].apply(lambda col: (col-media)/desvp).between(-1,1).sum())
    pass

q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [12]:
def q10():
    # Retorne aqui o resultado da questão 10.
    product_category_2_null = black_friday[black_friday['Product_Category_2'].isna()]
    
    return bool(product_category_2_null['Product_Category_2'].isna().sum() == product_category_2_null['Product_Category_3'].isna().sum())
    pass

q10()

True